{% extends 'base-admin.html.twig' %}

{% block title %}Administration
{% endblock %}

{% block body %}




	{# La partie qui concerne les artciles à modifier, à ajouter ou bien en supprimer pour un admin se trouve en-dessous #}
	<a class="btn btn-primary" href="{{ path('creation_produit') }}">
		Nouveau produit
	</a>


	<script>

		function toggleTable(bouton, index) {
bouton.classList.toggle("fa-minus-circle");
bouton.classList.toggle("fa-plus-circle");

const table = document.querySelector('#table-' + index);
table.classList.toggle("d-none");
}
	</script>


	{% for nomCategorie, listeProduit in listeProduitParCategorie %}

		<h2>

			{{ nomCategorie }}
			<i onclick="toggleTable(this,{{ loop.index }});" style="cursor: pointer" class="fas fa-plus-circle"></i>


		</h2>

		<table id="table-{{ loop.index }}" class="table">

			<thead>
				<tr>
					<th>ID</th>
					<th>Image</th>
					<th>Désignation</th>
					<th>Déscription</th>
					<th>Prix</th>
					<th>Actions</th>
				</tr>
			</thead>
			<tbody>
				{% for produit in listeProduit %}

					<tr>
						<td>{{produit.id}}</td>

						<td><img class="nomImageProduit" src="/uploads/{{produit.nomImage}}"></td>

						<td>{{produit.designation}}</td>

						<td>{{produit.description}}</td>

						<td>{{produit.prix}}</td>

						<td>

							<a class="btn badge bg-success" href="{{path('edition_produit', {id:produit.id})}}">Modifier</a>


							<a class="btn badge bg-danger" href="{{path('supression_produit', {id:produit.id})}}">Supprimer</a>

						</td>
					</tr>

				{% endfor %}

			</tbody>
		</table>
	{% endfor %}
{% endblock %}
