{% extends 'base.html.twig' %}

{% block title %}Administration
{% endblock %}

{% block body %}

	{# La partie qui concerne les slides à modifier, à ajouter ou bien en supprimer pour un admin se trouve en-dessous #}

	<table class="table">
		<thead>
			<tr>
				<th>ID</th>
				<th>Image</th>
				<th>Titre</th>
				<th>Texte</th>
				<th>Actions</th>
			</tr>
		</thead>
		<tbody>
			<a class="btn btn-primary" href="{{ path('creation_slide') }}">

				Nouveau slide

			</a>
			{% for slide in listeSlide %}
				<tr>
					<td>{{slide.id}}</td>

					<td><img style="width:50px;height:50px" src="/uploads/{{slide.nomImage}}"></td>

					<td>{{slide.titre}}</td>

					<td>{{slide.texte}}</td>

					<td>

						<a class="btn badge bg-success" href="{{path('edition_slide', {id:slide.id})}}">Modifier</a>


						<a class="btn badge bg-danger" href="{{path('supression_slide', {id:slide.id})}}">Supprimer</a>


					</td>
				</tr>

			{% endfor %}
		</tbody>
	</table>

	{# La partie qui concerne les artciles à modifier, à ajouter ou bien en supprimer pour un admin se trouve en-dessous #}

	<table class="table">
		<thead>
			<tr>
				<th>ID</th>
				<th>Image</th>
				<th>Désignation</th>
				<th>Déscription</th>
				<th>Prix</th>
				<th>Actions</th>
			</tr>
		</thead>
		<tbody>
			<a class="btn btn-primary" href="{{ path('creation_produit') }}">

				Nouveau produit

			</a>
			{% for produit in listeProduit %}
				<tr>
					<td>{{produit.id}}</td>

					<td><img style="width:50px;height:50px" src="/uploads/{{produit.nomImage}}"></td>

					<td>{{produit.designation}}</td>

					<td>{{produit.description}}</td>

					<td>{{produit.prix}}</td>

					<td>

						<a class="btn badge bg-success" href="{{path('edition_produit', {id:produit.id})}}">Modifier</a>


						<a class="btn badge bg-danger" href="{{path('supression_produit', {id:produit.id})}}">Supprimer</a>

					</td>
				</tr>

			{% endfor %}
		</tbody>
	</table>
{% endblock %}
